.sort-button {
  line-height: 29px;
  font-size: 13px;
  cursor: pointer;
}
.sort-button > div {
  display: inline-block;
}
.sort-button .caret {
  vertical-align: middle;
  height: 22px;
  width: 14px;
}
.sort-button .caret i {
  color: #bfbfbf;
  height: 7px;
  font-size: 12px;
  display: block;
  transform: scale(0.91666667) rotate(0deg);
}
